{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="overlay2"></div>
<div class="container">
<div class="artist-detail">
    <h1 class="mb-3 text-green">About</h1>
    <div class="card p-3 mb-4">
        <h2>Welcome to Comics Garden!</h2>
        <p>
            Welcome to <strong>Comics Garden</strong>, your friendly neighborhood indie comic shop! Nestled in the heart of downtown, Comics Garden is a haven for comic enthusiasts, graphic novel lovers, and anyone with a penchant for the extraordinary. Our shelves are bursting with a diverse selection of indie comics, rare finds, and beloved classics that cater to both the seasoned aficionado and the curious newcomer.
        </p>
        <h3>Our Story</h3>
        <p>
            Born out of a passion for storytelling and a love for the vibrant world of comics, Comics Garden sprouted in 2020 from the imaginations of two lifelong friends, Dana and Jordana. Tired of the cookie-cutter corporate stores, they envisioned a cozy, quirky space where fans could discover new stories, share their favorites, and geek out without judgement. Whether you're hunting for the latest indie hit or a hidden gem from the golden age, you'll find it here.
        </p>
        <h3>What We Offer</h3>
        <ul>
            <li><strong>A Curated Selection:</strong> Handpicked indie comics and graphic novels that you won't find in the big-box stores.</li>
            <li><strong>Collector's Corner:</strong> Rare issues and special editions that make every visit an adventure.</li>
            <li><strong>Community Events:</strong> From signings with local artists to comic book trivia nights, there's always something happening.</li>
        </ul>
        <h3>Opening Times</h3>
        <ul>
            <li><strong>Monday - Friday:</strong> 11:00 AM - 8:00 PM</li>
            <li><strong>Saturday:</strong> 10:00 AM - 9:00 PM</li>
            <li><strong>Sunday:</strong> 12:00 PM - 6:00 PM</li>
        </ul>
        <h3>Fun Facts</h3>

        <p>Meet Thanatos, our shop cat, who believes he's the true god of Comics Garden. (Just don't tell him otherwise!)</p>
        <p><img src="{{ MEDIA_URL }}thanatos.jpg" alt="Thanatos, the shop cat"></p>
        
        
    </div>

   

{% endblock %}