<!-- footer.html -->
<footer class="bg-black mt-5 desktop-footer">
    <div class="row no-gutters">
        <div class="col-12">
            <div class="line red"></div>
            <div class="line blue"></div>
            <div class="line yellow"></div>
            <div class="line green"></div>
        </div>
    </div>
    <div class="row no-gutters">
        <div class="col-12 text-center mt-3">
            <ul class="list-inline mt-2" id="social">
                <li class="list-inline-item">
                    <a href="https://github.com/jordanabraga" target="_blank" class="text-yellow" aria-label="GitHub Profile" rel="noopener noreferrer">
                        <i class="fa-brands fa-github-alt fa-2x"></i>
                    </a>
                </li>
                <li class="list-inline-item">
                    <a href="https://www.linkedin.com/in/jordanabraga/" target="_blank" class="text-yellow" aria-label="LinkedIn Profile" rel="noopener noreferrer">
                        <i class="fa-brands fa-linkedin fa-2x"></i>
                    </a>
                </li>
                <li class="list-inline-item">
                    <a href="https://facebook.com" target="_blank" class="text-yellow" aria-label="Facebook Page" rel="noopener noreferrer">
                        <i class="fab fa-facebook fa-2x"></i>
                    </a>
                </li>
                <li class="list-inline-item">
                    <a href="https://instagram.com" target="_blank" class="text-yellow" aria-label="Instagram Profile" rel="noopener noreferrer">
                        <i class="fab fa-instagram fa-2x"></i>
                    </a>
                </li>
            </ul>
        </div>
        <div class="col-md-6 text-center text-md-right">
            <ul class="list-unstyled">
                <li><a href="{% url 'about' %}">About</a></li>
                <li><a href="{% url 'shipping' %}">Shipping & Collection</a></li>
                {% if request.user.is_authenticated %}
                <li><a href="{% url 'wishlist' %}">My Wishlist</a></li>
                {% else %}
                <li><a href="{% url 'account_signup' %}">Create Wishlist</a></li>
                {% endif %}
            </ul>
        </div>
        <div class="col-md-6 text-center text-md-left">
            <!-- Mailchimp email form -->
            <div id="mc_embed_shell">
                <div id="mc_embed_signup">
                    <p class="text-white ml-4">Sign Up for Email</p>
                    <form action="https://gmail.us17.list-manage.com/subscribe/post?u=c69d1e3eb1b93d0040ed25119&amp;id=95df2607a4&amp;f_id=0094c2e1f0" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank">
                        <div id="mc_embed_signup_scroll">
                            <div class="mc-field-group">
                                <input type="email" name="EMAIL" class="required email" id="mce-EMAIL" required value="" placeholder="Your email" aria-label="Sign Up for Email">
                            </div>
                            <div id="mce-responses" class="clear foot">
                                <div class="response" id="mce-error-response" style="display:none;"></div>
                                <div class="response" id="mce-success-response" style="display:none;"></div>
                            </div>
                            <div aria-hidden="true" style="position:absolute; left:-5000px;">
                                <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups -->
                                <input type="text" name="b_c69d1e3eb1b93d0040ed25119_95df2607a4" tabindex="-1" value="">
                            </div>
                            <div class="optionalParent">
                                <div class="clear foot">
                                    <input type="submit" name="subscribe" id="mc-embedded-subscribe" class="button" value="Subscribe">
                                    <p style="margin:0px auto;">
                                        <a href="http://eepurl.com/iWv-U2" title="Mailchimp - email marketing made easy and fun">
                                            <span style="display:inline-block; background-color:black; border-radius:4px;">
                                                <img class="refferal_badge" src="https://digitalasset.intuit.com/render/content/dam/intuit/mc-fe/en_us/images/intuit-mc-rewards-text-light.svg" alt="Intuit Mailchimp" style="width:220px; height:40px; display:flex; padding:2px 0px; justify-content:center; align-items:center;">
                                            </span>
                                        </a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <script type="text/javascript" src="//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js"></script>
                <script type="text/javascript">(function($) {window.fnames = new Array(); window.ftypes = new Array(); fnames[0]='EMAIL'; ftypes[0]='email'; fnames[1]='FNAME'; ftypes[1]='text'; fnames[2]='LNAME'; ftypes[2]='text'; fnames[3]='ADDRESS'; ftypes[3]='address'; fnames[4]='PHONE'; ftypes[4]='phone'; fnames[5]='BIRTHDAY'; ftypes[5]='birthday';}(jQuery));var $mcj = jQuery.noConflict(true);</script>
            </div>
        </div>
    </div>
    <div class="row no-gutters">
        <div class="col-12 text-center">
            <p>&copy; 2024 Comics Garden. This is a Portfolio Project created by Jordana Braga. All rights reserved.</p>
        </div>
    </div>
</footer>
