<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fa-solid fa-star"></i>  All Comics
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="{% url 'products' %}?sort=date_added&direction=desc" class="dropdown-item ">New Arrivals</a>
                <a href="{% url 'products' %}?sort=price&direction=asc" class="dropdown-item">By Price</a>
                <a href="{% url 'products' %}?sort=rating&direction=desc" class="dropdown-item ">By Rating</a>
                <a href="{% url 'products' %}?sort=category&direction=asc" class="dropdown-item ">By Category</a>
                <a href="{% url 'products' %}" class="dropdown-item">All Products</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="genre-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fa-solid fa-star"></i> Genres
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="genre-link">
                {% for genre in top_genres %}
                    <a href="{% url 'products' %}?genre={{ genre.name }}" class="dropdown-item">{{ genre.name }}</a>
                {% endfor %}
            </div>
        </li>
        

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="other-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fa-solid fa-star"></i>  Other
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="other-link">
                <a href="{% url 'products' %}?category=stickers" class="dropdown-item">Stickers</a>
                <a href="{% url 'products' %}?category=postcards" class="dropdown-item">Postcards</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="about-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fa-solid fa-star"></i>  About
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="about-link">
                <a href="{% url 'about' %}" class="dropdown-item">About</a>
                <a href="{% url 'shipping' %}" class="dropdown-item">Shipping & Collection</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link" id="text-red" href="{% url 'products' %}?genre=sale" id="specials-link" aria-haspopup="true" aria-expanded="false">
                <i class="fa-solid fa-star"></i>  SALE
            </a>

        </li>
    </ul>
</div>